*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(51, 50, 50);
    color:rgb(185, 185, 35);
}
header{
    width:100%;
    height: 200px;
    background-color: rgb(23,18,33);
    float: left;
}
header div{
    width:40%;
    float: left;
}
#logo img{
    height: 200px;
    margin-left: 300px;
}
#logo2 img{
    height: 200px;
    margin-left: 450px;
    margin-top: -100px;
}
#titulo{
    padding-top: 60px;
    text-align: left;
    z-index: 1;
}
nav{
    width: 100%;
    height: 40px;
    background-color: #d1e705;
    float: left;
    padding: 30px 0 30px 0;
   text-align: center;
}
nav ul{
    list-style:none;
    margin: 5px;
    margin-right: 90px;
}
nav ul li{
    display: inline;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    padding:30px;
}
nav ul li a:hover{
    background-color: rgba(43, 40, 40, 0.753);
    color: yellow;
    border-radius: 50%;
}
main{
    width: 100%;
    float: left;
    margin-top:10px;
    
}
main div{
    width: 80%;
    margin: 0 auto;
   
}
.imagens{
    width: 30%;
    float: left;
 
    margin: 1%;
    
}
.imagens img{
    width: 100%
}
.imagens img:hover{
    transform: scale(1.2)
}
footer{
    width:100%;
    float: left;
    background-color: #292727;
    padding: 15px 0 15px 0;
    text-align: center;
}